.send-button {
  background-color: rgb(50, 115, 250);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  padding: 12px 20px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

